#hero {
    @include center;
    margin-bottom: $marginxxl;

    article {
        background: rgba(0, 0, 0, 0.5);
        @include flexrow;
        justify-content: center;
        position: relative;
        overflow: hidden;
        min-height: 100vh;
        border-radius: $border-radiussm;

        h1 {
            font-family: $font-familyii;
            font-size: $font-sizesm;
            letter-spacing: 0.5rem;
            color: var(--BRANDII);
            top: 5rem;
            left: 2rem;
            position: absolute;
        }

        small { color: var(--BRANDII); font-family: $font-familyiii; font-size: $font-sizelg; margin-left: $marginlg; }

        video {
            z-index: -1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
        }

    }

}

//! Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #hero article h1 { font-size: $font-sizelg !important; }
  #hero article small { font-size: $font-sizexl !important; }
}