<section class="adminforms">

  <span> <a href="/dashboard"> <button class="link"> &larr; Back To Dashboard </button> </a> </span>

  <h1> Add Player </h1>

  <div>

    <form action="/addplayer" enctype="multipart/form-data" method="POST">

      <article>
        <div>
          <label for="playername"> <b> Player Name </b> </label> <br />
          <input type="text" name="playername" id="playername" placeholder="Player Name ...." required />
        </div>

        <div>
          <label for="playerposition"> <b> Player Position </b> </label> <br />
          <input type="text" name="playerposition" id="playerposition" placeholder="Player Position ...." required />
          <small> E.g. Center, Small Forward, Guard, e.t.c. </small>
        </div>

        <div>
          <label for="playernumber"> <b> Player Jersey Number </b> </label> <br />
          <input type="number" name="playernumber" id="playernumber" placeholder="Player Jersey Number ...." required />
          <small> Must be unique ( no two players can have the same jersey number). </small>
        </div>

        <div>
          <label for="playerage"> <b> Player Age </b> </label> <br />
          <input type="number" name="playerage" id="playerage" placeholder="Player Age ...." required />
        </div>

        <div>
          <label for="playerexperience"> <b> Player Experience </b> </label> <br />
          <input type="number" name="playerexperience" id="playerexperience" placeholder="Player Experience ...." required />
          <small> Enter number of years of player experience </small>
        </div>

        <div>
          <label for="playerheight"> <b> Player Height </b> </label> <br />
          <input type="text" name="playerheight" id="playerheight" placeholder="Player Height ...." required />
          <small> In feet (ft), E.g 6.5, 6.1, 6.10, e.t.c. </small>
        </div>

        <div>
          <label for="playerweight"> <b> Player Weight </b> </label> <br />
          <input type="text" name="playerweight" id="playerweight" placeholder="Player Weight ...." required />
          <small> In Kilograms (Kg), E.g. 105.2, 76, e.t.c. </small>
        </div>

        <div>
          <label for="playerphoto"> <b> Choose Player Photo </b> </label>
          <input type="file" name="playerphoto" id="playerphoto" accept="image/*" required />
        </div>
      </article>

      <div> <input type="submit" value="Add Player" class="adminformbtn" /> </div>

    </form>
  </div>

</section>