<section class="adminforms">
  
  <span> <a href="/dashboard"> <button class="link"> &larr; Back To Dashboard </button> </a> </span>
  <span> <a href="/teamposts"> <button class="link"> View All Posts </button> </a> </span>
  
  <div class="formdiv">
    <h1> Make A Post </h1>

    <form action="/addteampost" enctype="multipart/form-data" method="POST">

      <section class="split">
        <article>
          <div>
            <label for="teampostheading"> <b> Post Heading </b> </label>
            <input type="text" name="teampostheading" id="teampostheading" placeholder="Heading ...." required />
          </div>
        
          <div>
            <label for="teampostbody"> <b> Post Body </b> </label>
            <textarea name="teampostbody" id="teampostbody" placeholder="Write here" required></textarea>
          </div>
        </article>
      </section>


      <section class="nosplit">
        <article>
          <div>
            <label for="teampostphoto"> <b> Choose Photo </b> </label>
            <input type="file" name="teampostphoto" id="teampostphoto" accept="image/*" required />
          </div>
        </article>
      </section>
      
      <div> <input type="submit" value="Publish Post" class="adminformbtn" /> </div>

    </form>
  </div>

</section>