<section id="adminlogin">

  <h1> Admin Login </h1>

  <form action="/admin" method="POST">

    <article class="inputs">
      <div> <label for="adminname"> <b> Name </b> </label> <input type="text" name="adminname" placeholder="Enter Admin Name"> </div>
      <div> <label for="adminpassword"> <b> Password </b> </label> <input type="password" name="adminpassword" placeholder="Enter Admin Password"> </div>
    </article>

    <div> <input type="submit" value="Login" class="loginbtn" /> </div>

  </form>
</section>

<!-- <hr />

<section>

  <h2> Register </h2>

  <form action="/register" method="POST">
    <div> <label for="adminname"> <b> Admin Name </b> </label> <input type="text" name="adminname" placeholder="Enter Admin Name"> </div>

    <div> <label for="adminpassword"> <b> Admin Password </b> </label> <input type="password" name="adminpassword" placeholder="Enter Admin Password"> </div>

    <div> <input type="submit" value="Register" /> </div>
  </form>

</section> -->