<section class="adminform">

  <h1> Admin Password Reset </h1>
  <p> You are about to begin a password reset, a code will be sent to you. </p>
  
  <form action="/sendforgotpasswordcode/?_method=PATCH" enctype="multipart/form-data" method="POST">

    <article class="inputs">
      <div> <label for="adminname"> <b> Name </b> </label> <input type="text" name="adminname" id="adminname"placeholder="Enter Admin Name" required /> </div>
    </article>

    <div> <input type="submit" value="Send Code" class="loginbtn" /> </div>

  </form>

  <a href="/admin"> <button class="link"> <strong> Back To Login? </strong> </button> </a>

</section>