<section class="adminforms">
  
  <div class="formdiv">

    <h1> Please Reset Password </h1>

    <form action="/adminresetpassword/?_method=PATCH" enctype="multipart/form-data" method="POST">

     <section class="split">
      <article>
        <div>
          <label for="adminname"> <b> Name </b> </label>
          <input type="text" name="adminname" id="adminname" placeholder="Enter Admin Name" required />
        </div>
      </article>

      <article>
        <div>
          <label for="admincode"> <b> Code </b> </label>
          <input type="text" name="admincode" id="admincode" placeholder="Enter Admin Code" required />
        </div>
      </article>
    </section>

     <section class="nosplit">
      <article>
        <div>
          <label for="adminnewpassword"> <b> New Password </b> </label>
          <input type="password" name="adminnewpassword" id="adminnewpassword" placeholder="Enter Admin New Password" required />
          <small>
            Password must include at least one lower and uppercase, one digit, one special character and at least 5 characters long. <br />
            Special Characters: @$!%*?& <br />
            Example: <strong> Password1@ </strong>
          </small>
        </div>
      
        <div>
          <label for="adminnewpasswordconfirm"> <b> Confirm New Password </b> </label>
          <input type="password" name="adminnewpasswordconfirm" id="adminnewpasswordconfirm" placeholder="Confirm Admin New Password" required />
        </div>
      </article>
     </section>
    
      <div> <input type="submit" value="Reset Password" class="adminformbtn" /> </div>
  
    </form>

  </div>

</section>