<section class="adminform">

  <h1> Please Reset Password </h1>

  <form action="/adminresetpassword" method="POST">

    <article class="inputs">
      <div> <label for="adminname"> <b> Name </b> </label> <input type="text" name="adminname" id="adminname" placeholder="Enter Admin Name" required /> </div>
      <div> <label for="admincode"> <b> Code </b> </label> <input type="text" name="admincode" id="admincode" placeholder="Enter Admin Code" required /> </div>
      <div>
        <label for="adminnewpassword"> <b> New Password </b> </label>
        <input type="password" name="adminnewpassword" id="adminnewpassword" placeholder="Enter Admin Password" required />
      </div>
      <div>
        <label for="adminnewpasswordc"> <b> Confirm New Password </b> </label>
        <input type="password" name="adminnewpasswordc" id="adminnewpasswordc" placeholder="Confirm Admin Password" required />
      </div>
    </article>

    <div> <input type="submit" value="Login" class="loginbtn" /> </div>

  </form>

</section>