:root {
  // colours
  --BLACK: #000000;
  --WHITE: #ffffff;

  --BRANDI: var(--BLACK);
  --BRANDII: var(--WHITE);
  --BRANDIII: #ad0000;

  --BRANDIV: #f00c0c;
  --BRANDV: #3e3535;
  --ACCENT: #e67514;
  --DOLLAR: #70bb65;
  --FORM: #f3f3f3;

  --ERROR: #f00303;
  --NAIRAI: #008b2c;
  --NAIRAII: #1b7339;

  --TEXTI: #d0d0d0;
  --TEXTII: #515151;
  --TEXTIII: #ababab;
  --TEXTIV: #6e6b6b;
  --TRANSPARENT: #00000070;

  // Social Media
  --XTWITTER: var(--BLACK);
  --TWITTERI: #1DA1F2;
  --TWITTERII: #55acee;
  --FACEBOOK: #3b5998;
  --INSTAGRAM: #e1306c;
  --WHATSAPP: #25d366;
  --LINKEDINI: #0077b5;
  --LINKEDINII: #0a66c2;
  --YOUTUBE: #ff0000;
  --TIKTOK: #fe2c55;
}