<section id="adminpanel">
    <a href="/dashboard" class="adminpanel"> <button class="link"> <i class="fa-solid fa-user-gear"></i> Admin Panel </button> </a>

    <a href="/adminlogout" class="adminlogout"> <button class="link"> <i class="fa-solid fa-right-from-bracket"></i> Logout </button> </a>
</section>