<footer>
  <div class="footerdv">
  
  <section class="all">
    
    <section class="getintouch">
      <article>
        <a href="/"> <img src="/images/assists/crest.png" alt="MAKTOWN FLYERS Official Logo" width="100" height="100" /> </a>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat corrupti est praesentium voluptatum recusandae amet illum dignissimos id aperiam porro? </p>
      </article>
    
      <article>
        <h4> Get In Touch </h4>
        <p> <span class="icon"> <i class="fa-solid fa-location-dot"></i> </span> 123 Street Makurdi, Benue State, Nigeria. </p>
        <p> <span class="icon"> <i class="fa-solid fa-phone"></i> </span> +234-706-345-6789 </p>
        <p> <span class="icon"> <i class="fa-solid fa-envelope"></i> </span> maktownflyers@gmail.com </p>
      </article>
    
      <article>
        <h4> Connect With Us: </h4>

        <ul class="socialmedia">

          <li class="youtube">
            <a href="#" target="_blank" class="youtube"> <span class="icon"> <i class="fa-brands fa-youtube fa-xl"></i> </span> </a>
          </li>

          <li class="tiktok">
            <a href="#" target="_blank" class="tiktok"> <span class="icon"> <i class="fa-brands fa-tiktok fa-xl"></i> </span> </a>
          </li>

          <li class="xtwitter">
            <a href="#" target="_blank" class="xtwitter"> <span class="icon"> <i class="fa-brands fa-square-x-twitter fa-xl"></i> </span> </a>
          </li>

          <li class="instagram">
            <a href="#" target="_blank" class="instagram"> <span class="icon"> <i class="fa-brands fa-square-instagram fa-xl"></i> </span> </a>
          </li>

          <li class="facebook">
            <a href="#" target="_blank" class="facebook"> <span class="icon"> <i class="fa-brands fa-facebook fa-xl"></i> </span> </a>
          </li>

        </ul>

      </article>

    </section>

    <section class="quicklinks">

      <article>
        <h4> Team </h4>
      
        <div>
          <p> Team Roster </p>
          <p> Staff Directory </p>
          <p> Injury Report </p>
        </div>
      </article>
    
      <article>
        <h4> Quick Links </h4>
      
        <div>
          <p> <a href="#connect"> Contact Us </a> </p>
          <p> <a href="#partnership"> Partnership </a> </p>
          <p> <a href="#terms"> Terms of Use </a> </p>
          <p> <a href="#policy"> Privacy Policy </a> </p>
        </div>
      </article>

    </section>
  
  </section>
  
  <hr />
  
  <section class="copyrights">
    <article>
      <div class="copyright">
        Copyrights<i class="fa-regular fa-copyright"></i>
        <%= new Date().getFullYear(); %>
        <span class="crest"> MAKTOWN FLYERS </span> | All Rights Reserved
      </div>
    </article>
    
    <article> By | <span class="designer"> AGO SOO McAGO </span> </article>
  </section>


</div>


</footer>