<footer>
  <div class="footerdv">

    <section class="sectionfooter">
      
      <article class="articlefooter">
        <h4> Connect </h4>

        <ul class="socialmedia">
          <li class="youtube">
            <a href="https://www.youtube.com/@MaktownFlyersBasketball" target="_blank" class="youtube">
              <span class="icon"> <i class="fa-brands fa-youtube fa-xl"></i> </span>
            </a>
          </li>
          
          <li class="instagram">
            <a href="https://www.instagram.com/maktownflyersbasketball/" target="_blank" class="instagram">
              <span class="icon"> <i class="fa-brands fa-square-instagram fa-xl"></i> </span>
            </a>
          </li>

          <li class="facebook">
            <a href="https://web.facebook.com/maktownflyersbasketball" target="_blank" class="facebook">
              <span class="icon"> <i class="fa-brands fa-facebook fa-xl"></i> </span>
            </a>
          </li>
        </ul>
      </article>
      
      <article class="articlefooter">
        <h4> Team </h4>
        
        <div class="teamlinks">
          <p> <a href="/team#teamroster"> Team Roster </a> </p>
          <p> <a href="/team#teamstaff"> Staff Directory </a> </p>
          <p> <a href="connect"> Contact Us </a> </p>
          <span> <a href="donation"> <button id="donatebtn" class="link"> Donate! </button> </a> </span>
        </div>
      </article>
      
      <article class="articlefooter">
        <h4> Get In Touch </h4>

        <div class="getintouch">
          <p> <span class="icon"> <i class="fa-solid fa-location-dot"></i> </span> Abuja, Nigeria. </p>
          <p> <span class="icon"> <i class="fa-solid fa-phone"></i> </span> +234 916 115 7190 </p>
          <p> <span class="icon"> <i class="fa-solid fa-envelope"></i> </span> maktownflyersbasketball@gmail.com </p>
        </div>
      </article>
    
    </section>
  
    <hr />
    
    <section class="sectionfooter">

      <article>
        <div>
          Copyrights <i class="fa-regular fa-copyright"></i> <%= new Date().getFullYear(); %> <span class="crest"> MAKTOWN FLYERS </span> | All Rights Reserved
        </div>
      </article>

      <article>
        <div id="designer">
          <span class="fa-stack small">
            <i class="fa-solid fa-laptop-code fa-stack-2x"></i>
            <i class="fa-solid fa-code fa-stack-1x fa-inverse"></i>
          </span> | <span> AGO SOO McAGO </span>
        </div>
      </article>

    </section>

  </div>
</footer>