<header>

  <div class="headeritems">

    <a href="/" id="maktowncrest">
      <img src="/images/assists/crest.png" alt="Maktown Flyers Official Logo" width="150" height="100" /> <span class="crestname"> MAKTOWN FLYERS </span>
    </a>
    
    <ul class="links">
      <li> <a href="/"> <button class="link"> Home </button> </a> </li>
      <li> <a href="team"> <button class="link"> Team </button> </a> </li>
      <li> <a href="media"> <button class="link"> Media </button> </a> </li>
      <li> <a href="history"> <button class="link"> Franchise History </button> </a> </li>
      <!-- <li> <a href="partners"> <button class="link"> Partners & Community </button> </a> </li> -->
      <!-- <li> <a href="jrmaktownflyers"> <button class="link"> Jr. Maktown Flyers </button> </a> </li> -->
      <li> <a href="connect"> <button class="link"> Stay Connected </button> </a> </li>
      <li> <a href="donation"> <button id="donatebtn" class="link"> Donate! </button> </a> </li>
    </ul>
  
    <div class="navbutton">
      <div class="linei"></div>
      <div class="lineii"></div>
      <div class="lineiii"></div>
    </div>
    
  </div>

</header>