<section id="connect">
    <article>
        <h3> BE A PART OF THE ACTION! </h3>
        <p> Sign up for our email newsletter and get all the latest Flyers news and offers </p>
    </article>
    
    <form action="/connectsendemail" enctype="multipart/form-data" method="POST">
        
        <article>
            <div>
                <input type="text" name="fullname" id="fullname" class="input" placeholder="Write name here" required />
                <label for="fullname" class="label"> Name </label>
            </div>
            
            <div>
                <input type="email" name="emailaddress" id="emailaddress" class="input" placeholder="Write email address here" required />
                <label for="email" class="label"> Email </label>
            </div>
            
            <div>
                <textarea name="usermessage" id="usermessage" class="input" placeholder="Write message here" required></textarea> <!-- &nbsp; is for space, when used -->
                <label for="usermessage" class="label textarealabel"> Message </label>
            </div>
        </article>
        
        <div class="send"> <input type="submit" value="Send" id="send" class="sendbtn" /> </div>
    </form>

</section>