<section id="oneteampost">
    
    <!-- <button onclick="history.back()" class="link"> &larr; Back </button> -->
    <span> <a href="/#teampost"> <button class="link"> &larr; Back </button> </a> </span>
    
    <article>
        
        <h1> <%= teampost.teampostheading %> </h1>
        
        <div class="teampost">
            
            <div class="teampostphoto">
                <figure> <img src="/images/uploads/teamposts/<%= teampost.teampostphoto %>" alt="<%= teampost.teampostheading %>" width="225" height="200" /> </figure>
            </div>
          
            <div class="teampostbody"> <%= teampost.teampostbody %> </div>
        
        </div>
    
    </article>
        
</section>