nav {
  width: 100%;
  height: 100vh;
  background: $backgrounddarker;
  margin-top: 4rem;
  padding: $paddingsm;
  position: fixed;
  top: -100vh;
  z-index: 2;
  transition: top ease-in 0.4s;

  .links {
    @include center;
    @include flexcolumn;
    justify-content: space-between;
    height: 80%;
  }

}

nav.open { top: 0; }

//! Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  nav { display: none; }
}